.direction-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:67px;
    padding: 2rem;
}
.button {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 50px;
    position: relative;
    padding-left: 10px;
}

.button label,
.button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.button input[type="radio"]:checked + label {
    background: #20b8be;
    border-radius: 4px;
}

.button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
}

